@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Satisfy&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: #F4F4F4;
    outline: none;



}

.content-prinpal {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    
 


}


.content_grip{
    padding: 0% 5%;

    box-shadow: 4px 5px 10px #fff;
    opacity: 70%;
    height: 660px;
    border-radius: 16px;
    display: flex;
    justify-content: center;

}

.caixa-principal {
    width: 327px;
}

.caixa-principal select {
    display: block;
    height: 48px;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    padding: 0px 20px;
    border: 3px solid #BBBBBB;
    border-radius: 10px;
    appearance: none;
    text-align: center;
}

.entrada {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #BBBBBB ;
    display: block;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
   


}


.button_convert_money{
    height: 48px;
    background-color: #772fd3;
    width: 100%;
    border: none;
    margin-top: 24px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;

}

.name_convert{
    margin-bottom: 10px;
    
}
.name_convert b {
    font-weight: bold;
    

}

.box_select_one{
    margin-top: 10px;
    
    

}

.box_select_two{
    margin-top: 10px;
   
}

.content_value_screen{
  display: flex;
  flex-direction: column;
  border: 1px solid #772fd3;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 10px;
  height: 300px;
  width: 327px;
}
.content_convert_moneys_screen{
    margin-top: 20px;
    margin-bottom: 10px;
}

.content_value_screen img {
    display: block;
    margin: 0 auto;;
}
.content_convert_moneys_screen p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}



